body {
  background-color:green;
  text-align: center;
}

.App{
  display:flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color:white;
 border-radius: 16px;
 width:400px;
}

.row{
  display:flex;
}
